<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenedor</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>

    <main>
        <div class="container mt-5">
            <h2>Agregar Juego</h2>
            <br>
            {% if mensaje%}
            <div class="alert alert-success w-50 mx-auto text-center">
                {{mensaje}}
            </div>
            {% endif%}
            <form action="{% url 'crud_add' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" maxlength="100" required>
                </div>
                <div class="form-group">
                    <label for="genero">Género</label>
                    <input type="text" class="form-control" id="genero" name="genero" maxlength="100" required>
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" id="precio" name="precio" required>
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input type="text" class="form-control" id="imagen" name="imagen" maxlength="100" required>
                </div>
                <button type="submit" class="btn btn-primary">Agregar Juego</button>

                <a href="{% url "crud" %}"> <button type="button" class="btn btn-primary">Volver</button> </a>
            </form>
        </div>
    </main>


    <script src='{% static 'js/bootstrap.bundle.min.js' %}'></script>
</body>

</html>