#cuenta-carrito{
    position: absolute;
    background-color: var(--color-acento);
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
    /* margin-bottom: 15px; */
  }

  :root{
    --color-acento: #ee6130;
    --color-acento-claro: #ee613033;
    --color-texto: black;
  }

  .escondido{
    display: none;
  }
  
  a{
    background-color: unset;
    border:unset;
    cursor:pointer;
    text-decoration: none;
    transition: 200ms;
    color: var(--color-texto);
  }
  
  button{
    transition: 200ms;
  }
  
  a:hover:not(#cart), button:hover{
    color: var(--color-acento);
  }

  #logo{
    height: 40px;
    margin: 20px;
  }